@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */

@layer base {
    html {
        @apply scroll-smooth antialiased;
        text-size-adjust: 100%;
        text-rendering: optimizeLegibility;
    }

    body {
        @apply min-h-dvh bg-white container max-w-screen-md text-lg bg-grid;
        font-family: "Archivo", sans-serif;
    }

    section {
        @apply my-8;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-balance;
    }

    p {
        @apply text-pretty;
    }

    ::selection {
        background-color: #fff6c0;
    }
}
@layer components {
    [data-state="epigra"] {
        @apply hover:cursor-epigra hover:mix-blend-multiply hover:text-[#ff4e00] transition-colors duration-500 hover:underline hover:underline-offset-4 selection:bg-transparent;
    }
}
@layer utilities {
    .bg-dots {
        @apply bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px];
    }

    .bg-grid {
        @apply bg-white bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
    }
}
