@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */

* {
    @apply scroll-smooth antialiased;
}

body {
    @apply min-h-dvh bg-white container max-w-screen-md text-lg;
    font-family: "Archivo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-balance;
}

p {
    @apply text-pretty;
}

::selection {
    background-color: #fff6c0;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a[data-state="epigra"] {
    @apply hover:cursor-epigra hover:mix-blend-multiply hover:text-[#ff4e00] transition-colors duration-500 hover:underline hover:underline-offset-4 selection:bg-transparent hover:animate-tada;
}

section {
    @apply my-8;
}
