<section>
    {{ collection:blog paginate="5" as="posts" sort="date:desc" }}
        {{ if no_results }}
            <p>Aww, there are no results.</p>
        {{ /if }}
        <div class="flex flex-col gap-4">
            {{ posts }}
                <div class="flex flex-col">
                    <a href="{{ url }}" class="font-medium">{{ title }}</a>
                    <time>{{ date format="F j, Y" }}</time>
                </div>
            {{ /posts }}
            {{ paginate }}
                <div class="absolute bottom-10 translate-x-1/2"> {{ partial:partials/pagination }}</div>
            {{ /paginate }}
        </div>
    {{ /collection:blog }}
</section>